PORT=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES=
JWT_REFRESH_EXPIRES=
JWT_ISSUER=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=


GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=

OTEL_EXPORTER_OTLP_ENDPOINT=


OAUTH_HANDOFF_SECRET=

FE_URL=

DATABASE_URL=

